
#cuerpo{
    width:100%;
    background-color: #5B69A6;
    float:left;
    margin-top:5em;
}
#izquierda{
    float:left;
    background-color: #5B69A6;
    width:25%;
}
#centro{
    width:50%;
    background-color: #5B69A6;
    float:left;
}
#derecha{
    width:25%;
    background-color: #5B69A6;
    float:left;
}
h2{
    color:red;
}
#tabla{
    
    border-collapse:collapse;
    border: 1px solid black;
    text-align:center;
}

#tabla tr{
    font:bold 15px Arial;
    background-color:lightblue;
}


#tabla th{
    border:1px solid black;
    font:bold 15px Arial;
    background-color:lightblue;
}
#tabla td{
    border:1px solid black;
    font:bold 15px Arial;
    background-color:lightblue;
}