@import url(./fonts/GothamBold.css);
@import url(./fonts/GothamBook.css);
/*=====================RESETEAMOS LOS ESTILOS POR DEFECTO=======================*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*=====================MENSAJE DE ERROR=========================================*/
.error_mensaje{
	color:red;
	font-family:'Arial';
	font-size: 15px;
	text-align: center;
}
/*=====================RESETEAMOS LOS ESTILOS POR DEFECTO=======================*/
body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}





/*=====================ESTILOS DE LA PAGINA PRINCIPAL=======================*/
#principal{
    background:#ccc;
	width:100%;
	height:100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cuerpo{
    background: #fff;
    width:700px;
    height:500px;
    padding:12px;
    border-radius: 12px;
}
.tituloPrincipal{
    width:100%;
	padding:20pt;
	color:black;
	text-align: center;
	text-transform:uppercase;
}

/*=====================ESTILOS DE LA CABECERA=======================*/
.header{
	color: #FFF;
	background: #0a4661;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}






/*=====================ESTILOS DEL NAV=======================*/
nav ul{
	background: #058167;
	/*background: #05817d;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #319B8F;
}
nav .principal > a{
    background: url(../img/imgWeb/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: #2d9872;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: #147556;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

/*=====================ESTILOS DEL LOGIN=======================*/
#container-form{
	background:#5d6d7e;
	width:100%;
	height:100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
#container-form form{
	background: #fff;
	width:400px;
	padding:12px;
}

#tituloLogin{
	width:100%;
	background:#2980b9;
	padding:20pt;
	color:#FFF;
	text-align: center;
	text-transform:uppercase;

}

#container-form form img{
	margin:15px auto;
	text-align: center;
	display:block;
	width:100px;
	height:100px;
}
#container-form form input{
	width:100%;
	padding:7px;
	font-size: 16pt;
	display: block;
	margin:15px auto;
	border-radius: 10px;
	border:1px solid #ccc;
	text-align: center;
}
#container-form form input[type="submit"]{
	background:#B03A2E;
	padding:12px;
	color:#fff;
	letter-spacing: 1px;
	border:0;
	cursor:pointer;
}

/*=====================ESTILOS DEL FORMULARIO DE REGISTRO DE USUARIO=======================*/
.form_register{
    width:450px;
    margin:auto;
}

.form_register h1{
    color:#3c93b0;
}
hr{
    border:0;
    background:#ccc;
    height:2px;
    margin:10px 0;
    display:block;
}
.form_register form{
    background:#fff;
    margin:auto;
    padding:20px 50px;
    border:1px solid #d1d1d1;
}
label{
    display:block;
    font-size:14pt;
    font-family:'GothamBook';
    margin:15px auto 5px auto;
}
input,select{
    display:block;
    width:100%;
    font-size: 12pt;
    padding:7px;
    border:1px solid #85929e;
    border-radius: 5px;
}
.btn_save{
    font-size: 14pt;
    background:#12a4c6;
    padding:11px;
    color:white;
    letter-spacing: 1px;
    border:0;
    cursor:pointer;
    margin:15px auto;
}
.option_rol{
	color:red;
}
/*=====================ESTILOS DE LA TABLA DE LISTADO DE USUARIOS=======================*/
#container-lista h1{
	font-size: 35px;
	display:inline-block;

}
.btn_new{
	display:inline-block;
	background: #239baa;
	color:#fff;
	padding:5px 25px;
	border-radius: 4px;
	margin:20px;
}

table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: 'Arial';
	width: 100%;
}
table th{
	text-align: left;
	padding:10px;
	background:#3d7ba8;
	color:#fff;
}
table tr:nth-child(odd){
	background: #fff;
}
table td{
	padding:10px;
}
.link_edit{
	color:#0ca4ce;
}
.link_delete{
	color:#f26b6b;
}

/*ESTILOS PARA EL FORMULARIO DE BORRADO DE DATOS*/

#container_delete{
	padding: 90px 15px 15px;
}
.data_delete{
	text-align: center;
}
.data_delete h2{
	font-size: 12pt;
}
.data_delete span{
	font-weight: bold;
	color:#4f72d4;
	font-size: 12pt;
}
.data_delete form{
	background: initial;
	margin:auto;
	padding: 20px 50px;
	border:0;
}
.btn_cancelar,.btn_ok{
	width:125px;
	background:#478ba2;
	color:#fff;
	display:inline-block;
	padding:5px;
	border-radius:5px;
	cursor:pointer;
	margin:15px;
}
.btn_cancelar{
	background:#42b343 ;
}

/*=================ESTILOS PARA LA VENTANA MODAL DE BUSQUEDA*/
.modalContainer {
	display: none; 
	position: fixed; 
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid lightgray;
	border-top: 10px solid #58abb7;
	width: 60%;
}

.modalContainer .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/*===================ESTILOS PARA LA TABLA DE BUSQUEDA*/
table.paleBlueRows {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #FFFFFF;
	width: 100%;
	height: 200px;
	text-align: center;
	border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
	border: 1px solid #FFFFFF;
	padding: 3px 2px;
  }
  table.paleBlueRows tbody td {
	font-size: 13px;
  }
  table.paleBlueRows tr:nth-child(even) {
	background: #D0E4F5;
  }
  table.paleBlueRows thead {
	background: #0B6FA4;
	border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
	border-left: none;
  }
  
  table.paleBlueRows tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background: #D0E4F5;
	border-top: 3px solid #444444;
  }
  table.paleBlueRows tfoot td {
	font-size: 14px;
  }








/*=================ESTILOS PARA EL FORMULARIO DE PASAR VISITA*/
.container_visita{
	width:450px;
    margin:auto;
}
.container_visita form{
    background:#fff;
    margin:auto;
    padding:20px 50px;
    border:1px solid #d1d1d1;
}
.container_visita form input[type="checkbox"]{
	float:right;
}


