{% extends 'base.html.twig' %}

{% block title %}Tareas por hacer
{% endblock %}


{% block body %}

	<h1>Listado de productos</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">id</th>
				<th scope="col">name</th>
				<th scope="col">price</th>
				<th scope="col">description</th>
			</tr>

		</thead>
		<tbody>
			{% for index,producto in productos %}
				<tr>
					<th scope="row">{{index + 1}}</th>
					<td>{{producto.name}}</td>
					<td>{{producto.price}}</td>
					<td>{{producto.description}}</td>


				</tr>

			{% else %}
				<tr>
					<th colspan="4" scope="row">No se han encontrado resultados</th>
				</tr>
			{% endfor %}


		</tbody>
	</table>
{% endblock %}
